apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-deployment
  labels:
    app: helloworld
spec:
  replicas: 1
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      containers:
      - name: helloworld
        command: 
        - "/bin/sh"
        - "-c"
        - |
          # Esegui curl per ottenere il tag dall'URL del Docker Hub
          TAG=$(curl -s "https://registry.hub.docker.com/v2/repositories/saratullini01/hello_world/tags" | jq -r '.results[0].name')
          # Sostituisci "latest" con il tag ottenuto
          sed -i "s/:$tag/:$TAG/" ./helloworld-deployment.yaml
          exec "$@"
        image: saratullini01/hello_world:$tag
        ports:
        - containerPort: 5000
